.caracteristicas {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 20px;
  min-height: 50vh;
  padding-top: 25vh;
  padding-bottom: 5vh;

  @include xl {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
  }
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 32px;
  border: none;
  padding: 32px;
  padding-left: 48px;
  padding-right: 48px;
  cursor: pointer;
  background-color: #fafafa;
  margin-bottom: 100px;
  // transition: background-color 500ms;

  &:hover {
    // background-color: $gray-300;
    //transition: background-color 500ms;
    transform: scale(1.02);
    transition-duration: 500ms;

    .card__icon {
      transform: scale(1.1);

      transition-property: transform;

      transition-duration: 500ms;
    }
  }
}

.card__title {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 1.3rem;
  padding-top: 30px;
}

.card__text {
  color: rgba(0, 0, 0, 0.7);
}

.card__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  font-size: 3rem;
  color: $primary-100;
  background-color: white;
  padding: 16px;
  border-radius: 100%;
  margin-bottom: 32px;
  position: absolute;
  top: -60px;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
}
