.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: rgb(17, 24, 39);
  background: linear-gradient(
    90deg,
    rgba(17, 24, 39, 1) 10%,
    rgba(75, 77, 224, 1) 100%
  );
  background-size: cover;
  min-height: 70vh;
}

.hero__title {
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 0.025em;
  max-width: 700px;
  color: white;
  animation-duration: 1.5s;
  animation-fill-mode: both;
  animation-name: fadeInBottom;

  @include xl {
    font-size: 3rem;
  }
}

.hero__subtitle {
  font-size: 1.1rem;
  font-weight: 500;
  max-width: 700px;
  color: white;
  animation-duration: 1.5s;
  animation-delay: 500ms;
  animation-fill-mode: both;
  animation-name: fadeInBottom;

  @include xl {
    font-size: 1.3rem;
  }
}

@keyframes fadeInBottom {
  from {
    opacity: 0;
    transform: translateY(100%);
  }
  to {
    opacity: 1;
  }
}
