.hero {
  display: flex;
  justify-content: space-around;
  background-size: cover;
  min-height: 80vh;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 21%,
    rgba(228, 228, 255, 1) 100%
  );
}

.hero__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: $primary-100;

  background-size: cover;
}

.hero__img__container {
  justify-content: center;
  width: 300px;

  display: none;

  @include xl {
    display: flex;
  }
}

.hero__img {
  width: 400px;
  animation: float 6s ease-in-out infinite;
}

.hero__button__container {
  margin-top: 16px;

  display: flex;

  animation-duration: 1.5s;
  animation-delay: 1000ms;
  animation-fill-mode: both;
  animation-name: fadeInBottom;
}

.hero__button {
  cursor: pointer;
  background-color: $primary-100;
  color: white;
  padding: 16px 32px;
  font-weight: 600;
  border-radius: 64px;
  flex: none;
}

.hero__title {
  font-size: 2.5rem;
  font-weight: 800;
  letter-spacing: 0.025em;
  max-width: 700px;
  color: $primary-100;
  animation-duration: 1.5s;
  animation-fill-mode: both;
  animation-name: fadeInBottom;
  margin-bottom: 16px;

  @include xl {
    font-size: 4rem;
  }
}

.hero__subtitle {
  font-size: 1.25rem;
  font-weight: 600;
  max-width: 500px;
  color: $primary-100;
  animation-duration: 1.5s;
  animation-delay: 500ms;
  animation-fill-mode: both;
  animation-name: fadeInBottom;

  @include xl {
    font-size: 1.5rem;
  }
}

@keyframes fadeInBottom {
  from {
    opacity: 0;
    transform: translateY(100%);
  }
  to {
    opacity: 1;
  }
}
