@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap");

$primary-100: #7754f8;
$gray-200: #f4f7fb;
$gray-300: #dae6f5;
$gray-100: #fafbfc;

$screen-lg-min: 768px;
$screen-xl-min: 1023px;
$screen-2xl-min: 1200px;

@mixin lg {
  @media (min-width: #{$screen-lg-min}) {
    @content;
  }
}

@mixin xl {
  @media (min-width: #{$screen-xl-min}) {
    @content;
  }
}

@mixin xl2 {
  @media (min-width: #{$screen-2xl-min}) {
    @content;
  }
}

.fade-in {
  opacity: 0;
  transform: translateY(10vh);
  visibility: hidden;
  transition: opacity 500ms ease-out, transform 1s ease-out,
    visibility 1s ease-out;
  will-change: opacity, transform, visibility;
}

.fade-in.visible {
  opacity: 1;
  transform: none;
  visibility: visible;
}

.delay-1 {
  @include xl {
    transition-delay: 250ms;
  }
}

.delay-2 {
  @include xl {
    transition-delay: 500ms;
  }
}
