@import "utils";
@import "header";
@import "hero";
@import "description";
@import "caracteristicas";
@import "app";
@import "clientes";
@import "precios";
@import "form";
@import "footer";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
}

section {
  min-height: 30vh;
  padding-top: 15vh;
  padding-bottom: 5vh;
}

section,
header {
  padding-right: 5vw;
  padding-left: 5vw;

  @include xl {
    padding-right: 10vw;
    padding-left: 10vw;
  }
}

a {
  text-decoration: none !important;
  color: inherit;

  &:hover {
    color: inherit;
  }
}

h1 {
  font-family: "Montserrat", sans-serif;
}

h2 {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-weight: 600;
  color: $primary-100;
}

li {
  list-style: none;
}

ul {
  margin: 0;
}
