@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");

body {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 3rem;
  color: #002366;
  letter-spacing: 3px;
  padding: 8px;
}

h2 {
  font-size: x-large;
  font-weight: 600;
  color: #0f52ba;
}

a {
  text-decoration: none;
  color: #0f52ba;
}

th,
td {
  padding: 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  line-height: 1.6;
}

table {
  margin-left: auto;
  margin-right: auto;
}

section {
  min-height: 30vh;
  padding-top: 16px;
  padding-bottom: 16px;
}

section:nth-child(odd) {
  background-color: #fafafa;
}

.inputOption {
  margin-bottom: 0px;
}

.header {
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-left: 32px;
  overflow: hidden;
  background-color: black;
  font-weight: 600;
  position: sticky;
}

.headerItem {
  float: left;
  cursor: pointer;
}

.headerItem:hover {
  background-color: #343434;
}

.headerLink {
  display: flex;
  padding: 12px;
  color: white;
  text-align: center;
}

.topRow {
  background-color: #fa8072;
  color: white;
  text-transform: uppercase;
}

/* Descripcion */

.descriptionText {
  font-style: italic;
  line-height: 1.5;
  margin-left: 64px;
  margin-right: 64px;
}

/* Form */

label {
  color: #424242;
  margin: 8px;
  text-align: left;
}

input,
select,
textarea {
  padding: 12px;
  margin: 8px;
  border-radius: 8px;
  border: 1px solid #9e9e9e;
  margin-bottom: 12px;
  background-color: transparent;
}

select {
  padding: 8px;
}

input[type="button"],
input[type="submit"],
input[type="reset"] {
  background-color: #fa8072;
  color: white;
  padding: 8px 16px;
  margin: 4px;
  border: none;
}

.column {
  display: flex;
  flex-direction: column;
}

/* Footer */

.footer {
  background-color: black;
  color: white;
  padding: 16px;
  margin-top: 24px;
}
