@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap");

body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
}

section {
  min-height: 30vh;
  padding-top: 5vh;
  padding-bottom: 5vh;
}

a {
  text-decoration: none;
}

h1 {
  font-family: "Montserrat", sans-serif;
}

h2 {
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

/* Header */

header {
  font-family: "Montserrat", sans-serif;
  position: absolute;
  right: 5vw;
  top: 16px;
  display: flex;
  padding-left: 32px;
  overflow: hidden;
  background-color: transparent;
  font-weight: 600;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
  padding-top: 4px;
  padding-bottom: 4px;
}

.headerItem {
  float: left;
  cursor: pointer;
  border-radius: 16px;
  margin-left: 8px;
  margin-right: 8px;
}

.headerItem:hover {
  background-color: #343434;
}

header ul li:last-child {
  background-color: rgb(0, 162, 255);
}

header ul li:last-child:hover {
  background-color: rgb(0, 147, 233);
}

.headerLink {
  display: flex;
  padding: 12px;
  color: white;
  text-align: center;
}

/* Hero */

.heroSection {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(../resources/hero-background.jpg);
  background-size: cover;
  color: white;
  min-height: 70vh;
  font-size: 2rem;
  padding-right: 10vw;
  padding-left: 10vw;
}

@media only screen and (min-width: 1023px) {
  .heroSection {
    padding-right: 25vw;
    padding-left: 25vw;
  }
}

/* Description */

.descriptionSection {
  display: flex;
  text-align: center;
  align-items: center;
  padding-right: 15vw;
  padding-left: 15vw;
  min-height: 40vh;
}

.descriptionText {
  font-size: 1.3rem;
  line-height: 1.5;
  margin-left: 64px;
  margin-right: 64px;
}

/* Caracteristicas */

.caracteristicasSection,
.preciosSection {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 20px;
  min-height: 50vh;
  padding-right: 10vw;
  padding-left: 10vw;
  padding-top: 5vh;
  padding-bottom: 5vh;
}

@media only screen and (min-width: 1023px) {
  .caracteristicasSection,
  .preciosSection {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
  }
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 16px;
  padding: 32px;
  padding-left: 48px;
  padding-right: 48px;
}

.yellow {
  background-color: #fffde9;
}

.blue {
  background-color: #eceffb;
}

.orange {
  background-color: #fdece3;
}

.cardTitle {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 1.3rem;
}

.cardText {
  color: rgba(0, 0, 0, 0.7);
}

.cardIcon {
  width: 25%;
  margin-bottom: 32px;
}

/* App */

.appSection {
  display: flex;
  flex-direction: column;
  padding-right: 10vw;
  padding-left: 10vw;
  min-height: 70vh;
}

.appSectionItem {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  min-height: 50vh;
  margin-top: 5vh;
  margin-bottom: 5vh;
}

.appSectionItem:nth-child(odd) .screenshotImg {
  grid-row: 1;
}

@media only screen and (min-width: 1023px) {
  .appSectionItem {
    grid-template-columns: repeat(2, 1fr);
  }

  .appSectionItem:nth-child(odd) .screenshotImg {
    grid-row: auto;
  }
}

.screenshotImg {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eceffb;
  border-radius: 32px;
  margin: 16px;
}

.screenshotDescription {
  display: flex;
  padding-left: 5vw;
  padding-right: 5vw;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 16px;
}

.screenshotTitle {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 1.3rem;
}

.screenshotText {
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.7);
}

/* Precios */

.preciosSection .card {
  background-color: #f8f8f8;
  justify-content: start;
}

.preciosNombre {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: x-large;
}

.preciosValor {
  font-size: x-large;
  font-weight: 700;
  color: orange;
}

.preciosTop {
  border-bottom: 1px solid gray;
  padding: 8px;
  padding-bottom: 32px;
}

.preciosItem {
  display: flex;
}

.preciosIcon {
  width: 10%;
  margin-right: 8px;
}

.preciosBottom {
  text-align: start;
  padding-top: 32px;
  font-size: 0.9rem;
  opacity: 60%;
}

/* Clientes */

.clientesSection {
  min-height: 30vh;
  padding-right: 10vw;
  padding-left: 10vw;
}

.clientesGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  row-gap: 8vh;
  justify-content: center;
  margin-top: 10vh;
  margin-bottom: 5vh;
}

.clientesLogo {
  align-self: center;
  justify-self: center;
  width: 35%;
}

/* Form */

.formSection {
  display: flex;
  flex-direction: column;
  padding-right: 25vw;
  padding-left: 25vw;
  margin-top: 5vh;
}

label {
  color: #424242;
  margin: 8px;
  text-align: left;
  display: none;
}

.inputOption {
  margin-bottom: 0px;
}

input,
textarea {
  padding: 12px;
  margin: 8px;
  border-radius: 8px;
  border: 1px solid #9e9e9e;
  margin-bottom: 12px;
  background-color: transparent;
  outline: none;
  font-family: inherit;
  font-size: inherit;
}

input[type="button"],
input[type="submit"],
input[type="reset"] {
  background-color: #fa8072;
  color: white;
  padding: 8px 16px;
  margin: 4px;
  border: none;
  cursor: pointer;
}

.formButtons {
  display: flex;
  justify-content: center;
}

/* Footer */

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  padding: 16px;
  margin-top: 24px;
  min-height: 20vh;
}
